*,html,body
{
   margin: 0;
   padding: 0;
}
header{
    height: 112px;
    line-height: 122px;
}
header nav
{
    float: right;
}
ul
{
    list-style: none;
}
ul li
{
    display:inline-block;
}
.logo img
{
    width: 100px;
    margin-top: 30px;
}
header ul li
{
    padding: 20px;
}